<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-copyright">
                <div>Made with 🤗 by <a target="_blank" rel="nofollow" href="https://github.com/korichh"><strong>korichh</strong></a></div>
            </div>
        </div>
    </div>
</footer>