<header class="header">
    <div class="container">
        <div class="header-inner">
            <a class="header-logo" href="/">
                <img src="/img/header/logo.svg" alt="logo ablog" width="140" height="44">
            </a>
            <nav class="header-nav">
                {{>main-nav}}
            </nav>
            <button class="header-burger open-mobile">
                <img src="/img/header/burger.svg" alt="icon burger" width="40" height="40">
            </button>
        </div>
    </div>
</header>