<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <picture>
                <source srcset="/img/content/post-sample.webp">
                <source srcset="/img/content/post-sample.jpg">
                <img src="/img/content/post-sample.jpg" alt="post sample" width="800" height="334">
            </picture>
        </div>
    </div>
</section>