<section class="mobile">
    <div class="mobile-inner">
        <a href="/" class="mobile-logo">
            <img src="/img/header/logo-l.svg" alt="logo ablog" loading="lazy" width="140" height="44">
        </a>
        <nav class="mobile-nav">
            {{>main-nav}}
        </nav>
    </div>
    <button class="mobile-close close-mobile">
        <img src="/img/header/close.svg" alt="icon close" width="40" height="40">
    </button>
</section>