<main class="main admin">
    <section class="dashboard">
        <div class="container">
            <div class="dashboard-inner">
                <form data-ajax="create" class="form-create form-primary">
                    <div class="row">
                        <div class="column">
                            <h1>Create Blog Post</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="title">Subject / Title</label>
                            <input type="text" name="title" id="title" placeholder="Express.js and CRUD Operations: A Quick Guide" required value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="content">Content</label>
                            <textarea name="content" id="content" placeholder="Express.js, a minimalist Node.js framework, is a powerful tool for handling CRUD (Create, Read, Update, Delete) operations in web applications..." required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>