<main class="main full admin">
    <section class="signin">
        <div class="signin-inner">
            <form data-ajax="signin" class="form-sign form-primary">
                <div class="row">
                    <div class="column">
                        <h1>Sign in to an account</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="e.g. abloguser@gmail.com" required value="">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="********" required minlength="4" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input class="btn btn-primary" type="submit" value="Sign In">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="tip">Don't have an account? <a href="/signup">Sign Up</a></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>