<main class="main full admin">
    <section class="signup">
        <div class="signup-inner">
            <form data-ajax="signup" class="form-sign form-primary">
                <div class="row">
                    <div class="column">
                        <h1>Create an account</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="username">Username</label>
                        <input type="username" name="username" id="username" placeholder="e.g. abloguser" required value="">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="e.g. abloguser@gmail.com" required value="">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="********" required minlength="4" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input class="btn btn-primary" type="submit" value="Sign Up">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="tip">Already have an account? <a href="/signin">Sign In</a></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>